Repository Jc2k/pytest-docker-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: uv run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: uv run check-toml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: uv run codespell

chore: add codespell for ci lint
  pyproject.toml
  uv.lock
Due: check-toml, codespell

fix: get all lints passing
  README.md
  pytest_docker_tools/contexts/scratch/Dockerfile
  pytest_docker_tools/factories/build.py
  setup.cfg
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

0.0.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

fix: don't check in version number
  pyproject.toml
Due: check-toml, codespell

fix: version number must be preset
  pyproject.toml
Due: check-toml, codespell

0.0.2
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

fix: correct classifiers
  pyproject.toml
Due: check-toml, codespell

3.1.4
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

chore: run ci on windows and mac
  .github/workflows/ci.yml
Due: codespell

fix: no mac support for ci
  .github/workflows/ci.yml
Due: codespell

fix: use setuptools to find correct package/module files
  pyproject.toml
Due: check-toml, codespell

3.1.5
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

fix: include missing Dockerfile
  pyproject.toml
Due: check-toml, codespell

3.1.6
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

fix: container.ready() race condition, when exposed ports is not available yet
  pytest_docker_tools/wrappers/container.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

fix: container.ready() race condition, when exposed ports is not available yet (#49)
  pytest_docker_tools/wrappers/container.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell

3.1.7
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

fix: create MANIFEST.in
  MANIFEST.in
Due: codespell

3.1.8
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

fix: pyproject.toml typo
  pyproject.toml
Due: check-toml, codespell

Fix: MANIFEST.in typo
  MANIFEST.in
Due: codespell

chore: update Dockerfile
  examples/resolver-service/dns/Dockerfile
Due: codespell

3.1.9
  CHANGELOG.md
  pyproject.toml
Due: check-toml, codespell

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: ^(music_assistant/.+/manifest\.json)$ and \.json$
  check-toml: any of: \.toml$
  codespell: any file but: CHANGELOG.md
